/* variables */
:root {
  --field-width: 35%;  /* desktop */
  --main-color: #1CB5E4;
  --error-color: #FE0000;
}

/* page content */
.mx-custom.pageContentColLeft {
  width: 100%;
}

/* language switcher */
.mx-custom.language-switcher-locale-url {
  display: inline-flex;
  padding: 0;
  width: 100%;
  max-width: 1194px;
  justify-content: flex-end;
  height: 100%;
  align-items: flex-end;
}
.mx-custom.language-switcher-locale-url li {
  padding: 16px 8px;
}

/* form */
.mx-custom .form-item {
  width: var(--field-width);
}
.mx-custom .form-item.form-item-captcha-response,
.mx-custom .form-item.form-type-checkbox,
.mx-custom .form-item.webform-component-checkboxes,
.mx-custom .form-item.guest-code {
  width: 100%;
}
.mx-custom .webform-component--guestTicket {
  display: flex;
}
.mx-custom .page-webform .radio {
  margin-right: 1em;
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
}
.mx-custom .page-webform .radio:first-child label {
  padding-left: 0;
}
.mx-custom .page-webform input[type="radio"] {
  opacity: 0;
  position: absolute;
  z-index: -1;
  margin: 0;
}
.mx-custom .page-webform input[type="radio"] + label {
  display: inline-flex;
  align-items: center;
  line-height: 1;
}
.mx-custom .page-webform input[type="radio"] + label:before {
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50rem;
  display: inline-flex;
  background-color: #E5E5E5;
  left: 0;
  margin-right: 1rem;
}
.mx-custom .page-webform input[type="radio"]:checked + label:before {
  background-color: var(--main-color);
}
.mx-custom .page-webform .guest-code {
  display: flex;
  align-items: center;
}
.mx-custom .page-webform .guest-code label:after {
  content: "?";
  border-radius: 50rem;
  background-color: red;
  color: #fff;
  width: 18px;
  height: 18px;
  display: inline-block;
  line-height: 1;
  font-size: 16px;
  padding: 2px;
  margin-left: 5px;
  text-align: center;
}
.mx-custom .page-webform .guest-code input {
  width: 180px;
  margin-left: 1em;
  margin-right: 1em;
}
.mx-custom .page-webform .guest-code a {
  color: var(--main-color);
}
.mx-custom .contact-no {
  display: flex;
}
.mx-custom .contact-no .webform-component--countryCode {
  margin-right: 1em;
}
.mx-custom .page-webform input[type="submit"] {
  background: var(--main-color);
}
.mx-custom .inline-input {
  display: flex;
  align-items: center;
}
.mx-custom .inline-input input.form-text {
  max-width: var(--field-width) !important;
  margin-right: 1em;
}
.mx-custom .form-actions {
  margin-top: 80px;
  margin-bottom: 80px;
  text-align: center;
}
.mx-custom .page-webform .form-actions input[type="submit"] {
  float: none;
}
.mx-custom .page-webform .captcha {
  text-align: left;
}
.mx-custom input[type="checkbox"].error + label:before {
  content: "";
  display: inline-block;
  width: 32px;
  height: 32px;
  border: 1px solid var(--error-color);
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 5px;
}

/* sections */
.mx-custom .guest-ticket-info-section,
.mx-custom .contact-info-section {
  margin-top: 40px;
}

/* datepicker */
#ui-datepicker-div {
  padding: 0;
  background: #fff;
  border-color: var(--main-color);
  color: #333;
  z-index: 201 !important;
}
#ui-datepicker-div .ui-datepicker-header {
  border-color: var(--main-color);
  color: var(--main-color);
  background: transparent;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top: 0;
  border-right: 0;
}
#ui-datepicker-div .ui-datepicker-group-first {
  border-right: 1px solid var(--main-color);
}
#ui-datepicker-div .ui-datepicker-group-last {
  border-left: 1px solid var(--main-color);
  margin-left: -1px;
}
#ui-datepicker-div > .ui-datepicker-header,
#ui-datepicker-div .ui-datepicker-group-first .ui-datepicker-header {
  border-left: 0;
}
#ui-datepicker-div .ui-datepicker-calendar th {
  color: var(--main-color);
}
#ui-datepicker-div .ui-state-default {
  color: #333333;
  background: transparent;
  border: 0;
  text-align: center;
  border-radius: 50rem;
  font-size: 14px;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 31px;
  width: 31px;
}
#ui-datepicker-div .ui-state-default.ui-state-active {
  background: var(--main-color);
  color: #fff;
}

/* dialog */
.mx-custom.dialog {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9;
  margin-top: 140px;
}
.mx-custom.dialog .content {
  width: 80%;
  margin: 0 auto;
  background-color: #fff;
  padding: 6%;
  border: 2px solid var(--main-color);
  position: relative;
  box-shadow: 0px 0px 6px 2px rgba(0,0,0,.5);
}
.mx-custom.dialog .content ol {
  padding-left: 20px;
}
.mx-custom.dialog .content ol > li {
  padding: 8px 0;
}
.mx-custom.dialog .close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 32px;
  font-size: 40px;
  color: var(--main-color);
  opacity: 1;
  font-weight: bold;
}

/* responsive */
@media (max-width: 767px) {
  :root {
    --field-width: 100%;  /* mobile */
  }
  .mx-custom .page-webform .guest-code {
    flex-direction: column;
    align-items: flex-start;
  }
  .mx-custom .inline-input {
    flex-direction: column;
  }
  .mx-custom .inline-input input.form-text {
    margin-right: 0;
  }
  .mx-custom .page-webform .guest-code > .guest-code-input-row {
    width: 100%;
    display: flex;
    align-items: center;
  }
  .mx-custom .page-webform .guest-code input {
    margin-left: 0;
    flex-grow: 1;
  }
  .mx-custom .contact-no-field > label {
    margin-bottom: 20px;
  }
  #ui-datepicker-div {
    width: 90%;
  }
}

/* helpers */
.mx-custom .mt-0 {
  margin-top: 0 !important;
}
.mx-custom .mb-0 {
  margin-bottom: 0 !important;
}
.mx-custom .text-uppercase {
  text-transform: uppercase;
}
.mx-custom .text-blue {
  color: var(--main-color);
}
