@import url(./fonts.css);
body {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  transition: opacity 1.2s;
  opacity: 1;
  color: #253B56; }
  body.loading {
    pointer-events: none;
    opacity: 0; }

a {
  color: #0066B8; }
  a:hover {
    text-decoration: none; }

a:focus, a:active, button:focus, button:active, .btn:focus, .btn:active, input:focus, input:active, .form-control:focus, .form-control:active {
  outline: 0;
  box-shadow: none; }

.btn {
  font-weight: 900;
  font-style: italic; }
  .btn[type='button'] {
    background-color: #FF840A !important;
    -webkit-appearance: none; }

#steps, #form {
  height: 100vh; }

.section-title {
  font-size: 1.458vw;
  font-weight: 700; }

#form {
  overflow: hidden;
  position: relative;
  width: 55.469%; }
  #form .form-layer {
    overflow: auto;
    overflow-x: hidden;
    position: relative;
    backface-visibility: hidden;
    transition: opacity .7s;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 1;
    position: absolute; }
    #form .form-layer.hidden {
      opacity: 0;
      visibility: hidden; }
    #form .form-layer .form-step {
      position: relative;
      min-height: 100%;
      padding: 100px 15.681% 170px 12.5%; }
      #form .form-layer .form-step > h1 {
        font-size: 4.167vw;
        font-weight: 900;
        font-style: italic;
        line-height: 1.05;
        margin-top: 20px; }

#steps {
  position: relative;
  width: 44.531%;
  background-image: url(../img/waterPark.jpg);
  background-size: cover;
  background-position: center center;
  padding: 100px 0;
  z-index: 1; }
  #steps.disabled a {
    pointer-events: none; }
  #steps #logo-layer {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    align-items: center;
    padding: 100px 0; }
    #steps #logo-layer img {
      width: 12.5vw;
      margin-bottom: auto; }
    #steps #logo-layer #tagline {
      font-weight: bold;
      font-size: 1.146vw;
      color: #fff; }
  #steps ul {
    position: relative; }
    #steps ul > li {
      display: inline-flex; }
      #steps ul > li a {
        color: #fff; }
    #steps ul > li.active .badge {
      background-color: #0066B8; }

#footer {
  position: absolute;
  bottom: 0;
  padding-left: 12.5%;
  padding-right: 15.681%;
  left: 0;
  right: 0;
  opacity: .8; }

header {
  padding: 20px;
  padding-bottom: 10px;
  z-index: 99; }

.mobile-steps {
  display: flex;
  justify-content: space-between;
  top: 81px;
  left: 0;
  right: 0;
  padding: 16px 20px; }
  .mobile-steps.sticky {
    position: fixed;
    top: 0;
    background-color: #fff;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.1);
    z-index: 99; }
  .mobile-steps > li.active .badge {
    color: #fff;
    background-color: #0066B8; }
  .mobile-steps.disabled .badge {
    pointer-events: none; }
  .mobile-steps .badge {
    width: 28px;
    height: 28px;
    font-size: 12px;
    line-height: 1;
    padding: 8px;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    color: #fff; }
  .mobile-steps .divider {
    flex-grow: 1;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    height: 1px;
    margin: auto; }

#steps-list {
  margin-left: 70px;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%; }
  #steps-list li.divider {
    width: 1px;
    flex-grow: 1;
    margin-left: 25px;
    background-color: #fff; }
  #steps-list li .badge {
    width: 50px;
    height: 50px;
    border: solid 2px #fff;
    font-size: 12px;
    display: inline-flex;
    justify-content: center;
    align-items: center; }

.btn {
  font-size: 14px;
  line-height: 1;
  border: 0;
  padding: 0 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  max-height: 80px; }
  .btn .icon {
    margin-left: 32px; }

.lang-switch {
  position: absolute; }
  .lang-switch a {
    color: #253B56; }
  .form-layer .lang-switch {
    top: 81px;
    right: 70px;
    z-index: 99; }
  .form-layer header .lang-switch {
    top: 27px;
    right: 20px; }

#ticket-type-container {
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: -ms-autohiding-scrollbar; }
  #ticket-type-container::-webkit-scrollbar {
    display: none; }
  #ticket-type-container .btn-group {
    padding: 4px;
    background-color: #E6EFF8;
    display: flex; }
    #ticket-type-container .btn-group .btn {
      flex: 1;
      line-height: 1.2;
      max-height: calc(80px - 8px);
      white-space: nowrap;
      color: #CBCBCE; }
      #ticket-type-container .btn-group .btn > span {
        position: relative; }
      #ticket-type-container .btn-group .btn:first-child:before {
        content: "";
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 50rem;
        background-color: #FDED2B;
        transition: transform .5s;
        backface-visibility: hidden; }
    #ticket-type-container .btn-group:not([hover])[active='0'] > .btn:nth-child(1),
    #ticket-type-container .btn-group:not([hover])[active='1'] > .btn:nth-child(2),
    #ticket-type-container .btn-group:not([hover])[active='2'] > .btn:nth-child(3) {
      color: #253B56; }
    #ticket-type-container .btn-group[hover='0'] > .btn:nth-child(1),
    #ticket-type-container .btn-group[hover='1'] > .btn:nth-child(2),
    #ticket-type-container .btn-group[hover='2'] > .btn:nth-child(3) {
      color: #253B56; }
    #ticket-type-container .btn-group[active='0'] .btn:first-child:before {
      transform: translateX(0%); }
    #ticket-type-container .btn-group[active='1'] .btn:first-child:before {
      transform: translateX(100%); }
    #ticket-type-container .btn-group[active='2'] .btn:first-child:before {
      transform: translateX(200%); }
    #ticket-type-container .btn-group[hover='0'] .btn:first-child:before {
      transform: translateX(0%); }
    #ticket-type-container .btn-group[hover='1'] .btn:first-child:before {
      transform: translateX(100%); }
    #ticket-type-container .btn-group[hover='2'] .btn:first-child:before {
      transform: translateX(200%); }

form input::-webkit-outer-spin-button,
form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

form input[type=number] {
  -moz-appearance: textfield; }

form .input-label {
  position: absolute;
  padding-left: 40px;
  margin-left: 4px;
  font-size: 100%;
  margin-bottom: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  color: #8E9CA9;
  transition: transform .3s, font-size .3s; }
  form .input-label.focus {
    font-size: 70%;
    transform: translateY(-20%); }
    form .input-label.focus + input {
      padding-top: 39.2px;
      padding-bottom: 16.8px; }

form .custom-checkbox .custom-control-input + .custom-control-label {
  padding-top: 4px;
  padding-left: 20px; }

form .custom-checkbox .custom-control-input + .custom-control-label:before {
  width: 24px;
  height: 24px;
  border-width: 4px;
  border-color: #0066B8 !important; }

form .custom-checkbox .custom-control-input:checked ~ .custom-control-label:before {
  background-color: #0066B8; }

form .custom-checkbox .custom-control-input.is-invalid + .custom-control-label:before {
  border-color: #FF585D !important; }

form .custom-checkbox .custom-control-input.is-invalid:checked ~ .custom-control-label:before {
  background-color: #FF585D; }

form .custom-checkbox .custom-control-input + .custom-control-label:after {
  width: 20px;
  height: 20px;
  top: 6px;
  left: -22px; }

form .custom-checkbox .custom-control-input:focus + .custom-control-label:before,
form .custom-checkbox .custom-control-input:focus + .custom-control-label:after {
  outline: 0;
  box-shadow: none; }

form .custom-checkbox .custom-control-input:checked ~ .custom-control-label:after {
  background-size: 14px; }

form input.form-control {
  height: auto;
  border: 4px solid;
  border-color: #0066B8 !important;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 28px;
  padding-bottom: 28px;
  max-height: 80px;
  font-size: 14px;
  line-height: 1;
  color: #253B56;
  box-shadow: none !important; }
  form input.form-control[disabled] {
    border-color: #D1E3F2 !important;
    background-color: #D1E3F2;
    pointer-events: none;
    color: #8E9CA9; }
    form input.form-control[disabled] + a {
      display: none; }

form .field-container .invalid-feedback {
  display: none;
  color: #FF585D; }

form .field-container.is-invalid .form-text {
  display: none; }

form .field-container.is-invalid .invalid-feedback {
  display: block; }

form .field-container input.is-invalid {
  border-color: #FF585D !important;
  background-image: none; }

form .field-container input + a {
  position: absolute;
  right: 23px;
  top: 0;
  bottom: 0;
  display: flex; }
  form .field-container input + a .icon {
    width: 29px;
    height: 29px;
    background-size: 29px;
    margin: auto; }

form .guest-input-group a.buy-ticket {
  font-size: 80%;
  color: #FF840A;
  text-decoration: underline; }

form .custom-switch {
  padding-left: 66px;
  display: inline-block;
  height: 40px;
  vertical-align: middle; }
  form .custom-switch .custom-control-label:before {
    top: 0;
    left: -66px;
    width: 66px;
    height: 40px;
    border-radius: 50rem;
    border: 0;
    background-color: #E6EFF8;
    outline: 0 !important;
    border: 0 !important;
    box-shadow: none !important; }
  form .custom-switch .custom-control-label:after {
    top: 6.5px;
    left: -57px;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: #FF840A; }
  form .custom-switch .custom-control-input:checked ~ .custom-control-label:before {
    background-color: #0066B8; }
  form .custom-switch .custom-control-input:checked ~ .custom-control-label:after {
    background-color: #FDED2B;
    transform: translateX(75%); }

ul.list-unstyled.custom-disc li {
  display: flex;
  padding-left: 6px; }
  ul.list-unstyled.custom-disc li:before {
    content: '';
    width: 10px;
    height: 10px;
    border: solid 3px #0066B8;
    border-radius: 50%;
    background-color: #fff;
    margin-right: 28px;
    flex-shrink: 0;
    margin-top: 6px; }

#shuttle-bus-service #time-slots-container {
  width: 100%;
  min-height: 300px;
  border: 4px solid #E6EFF8;
  border-radius: 25px;
  padding-top: 40px;
  padding-bottom: 20px; }
  #shuttle-bus-service #time-slots-container #time-slots-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px; }
    #shuttle-bus-service #time-slots-container #time-slots-heading h5 {
      margin: 0;
      text-align: center; }
    #shuttle-bus-service #time-slots-container #time-slots-heading a {
      width: 20%;
      text-align: center;
      padding: 0 15px; }
  #shuttle-bus-service #time-slots-container .time-slots {
    display: flex;
    flex-wrap: wrap;
    padding: 0 15px; }
    #shuttle-bus-service #time-slots-container .time-slots .col {
      position: relative;
      flex-basis: 20%;
      max-width: 20%;
      text-align: center;
      padding-top: 20px;
      padding-bottom: 20px;
      color: #8E9CA9;
      pointer-events: none; }
      #shuttle-bus-service #time-slots-container .time-slots .col:before {
        content: "";
        width: 60px;
        height: 60px;
        background-color: transparent;
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        z-index: -1;
        border-radius: 50%;
        max-width: 60px;
        max-height: 60px; }
      #shuttle-bus-service #time-slots-container .time-slots .col:hover {
        text-decoration: none; }

#shuttle-bus-service[require-service=yes] #time-slots-container .time-slots .col {
  color: #253B56;
  pointer-events: auto; }
  #shuttle-bus-service[require-service=yes] #time-slots-container .time-slots .col:hover:before, #shuttle-bus-service[require-service=yes] #time-slots-container .time-slots .col.active:before {
    background-color: #FDED2B; }

#shuttle-bus-service[require-service=yes] #shuttle-bus-service-label > span:first-child {
  display: inline; }

#shuttle-bus-service[require-service=yes] #shuttle-bus-service-label > span:last-child {
  display: none; }

#shuttle-bus-service[require-service=no] #shuttle-bus-service-label > span:first-child {
  display: none; }

#shuttle-bus-service[time-slot=am] #heading-pm, #shuttle-bus-service[time-slot=am] #time-slots-pm {
  display: none; }

#shuttle-bus-service[time-slot=pm] #heading-am, #shuttle-bus-service[time-slot=pm] #time-slots-am {
  display: none; }

#range-container {
  height: 80px;
  max-height: 80px;
  border-radius: 50rem;
  position: relative;
  background-color: #E6EFF8; }
  #range-container #range-fill {
    position: absolute;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #0066B8;
    border-top-left-radius: 25rem;
    border-bottom-left-radius: 25rem; }
    #range-container #range-fill[value="2"] {
      width: calc((((100% - 80px) / 3) * (2 - 1)) + 80px - (80px / 2)); }
    #range-container #range-fill[value="3"] {
      width: calc((((100% - 80px) / 3) * (3 - 1)) + 80px - (80px / 2)); }
    #range-container #range-fill[value="4"] {
      width: calc((((100% - 80px) / 3) * (4 - 1)) + 80px - (80px / 2)); }
  #range-container input[type='range'] {
    position: relative;
    border-radius: 50rem;
    height: calc(100% + 2px); }
  #range-container input[type='range']::-webkit-slider-runnable-track {
    border-radius: 50rem;
    background: transparent;
    height: 80px;
    max-height: 80px; }
  #range-container input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 82px;
    width: 82px;
    max-height: 80px;
    max-width: 80px;
    border-radius: 100%;
    margin-top: -2px;
    background-color: #FDED2B;
    background-position: center center;
    background-image: url(../img/btnRange.png);
    background-repeat: no-repeat; }
  #range-container > .list-unstyled li {
    padding: 0 2px;
    font-size: 18px; }
  #range-container > .list-unstyled,
  #range-container ~ .list-unstyled {
    display: flex;
    top: 0;
    bottom: 0;
    margin: 0;
    width: 100%;
    align-items: center; }
    #range-container > .list-unstyled li:first-child,
    #range-container ~ .list-unstyled li:first-child {
      margin-left: calc((80px / 2) - 3px); }
    #range-container > .list-unstyled li:nth-child(n+2),
    #range-container ~ .list-unstyled li:nth-child(n+2) {
      margin-left: calc(((100% - 80px) / 3) - 10px); }
  #range-container .custom-range::-ms-track {
    width: 100%;
    height: 0;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 41px 0;
    color: transparent; }
  #range-container .custom-range::-ms-thumb {
    height: 82px;
    width: 82px;
    border-radius: 100%;
    background-color: #FDED2B;
    background-position: center center;
    background-image: url(../img/btnRange.png);
    background-repeat: no-repeat;
    cursor: pointer;
    border: 0; }
  #range-container .custom-range::-ms-tooltip {
    display: none; }

#calendar #date-of-visit-input.is-invalid + .invalid-feedback {
  display: block; }

#datepicker .datepicker-inline {
  width: 100%;
  background-color: #fff;
  border: 4px solid #E6EFF8;
  border-radius: 25px; }
  #datepicker .datepicker-inline .datepicker-days {
    padding-bottom: 20px; }
    #datepicker .datepicker-inline .datepicker-days table {
      width: 100%; }
      #datepicker .datepicker-inline .datepicker-days table th.dow:first-child,
      #datepicker .datepicker-inline .datepicker-days table td.day:first-child {
        color: #FF585D; }
      #datepicker .datepicker-inline .datepicker-days table th.dow, #datepicker .datepicker-inline .datepicker-days table td {
        padding-top: 20px;
        padding-bottom: 20px; }
      #datepicker .datepicker-inline .datepicker-days table td.day {
        position: relative; }
        #datepicker .datepicker-inline .datepicker-days table td.day.active {
          color: inherit;
          background-color: inherit; }
        #datepicker .datepicker-inline .datepicker-days table td.day.active, #datepicker .datepicker-inline .datepicker-days table td.day:hover {
          background: none; }
          #datepicker .datepicker-inline .datepicker-days table td.day.active:before, #datepicker .datepicker-inline .datepicker-days table td.day:hover:before {
            content: "";
            width: 60px;
            height: 60px;
            background-color: #FDED2B;
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            border-radius: 50rem;
            max-width: 60px;
            max-height: 60px; }
      #datepicker .datepicker-inline .datepicker-days table .prev, #datepicker .datepicker-inline .datepicker-days table .next {
        background: none;
        padding-top: 20px; }
      #datepicker .datepicker-inline .datepicker-days table .datepicker-switch {
        pointer-events: none;
        padding-top: 35px;
        padding-bottom: 10px; }

#fading-bg {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 10vh;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 30px 0 30px 0;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255, 255, 255, 0)), color-stop(1, white));
  background-image: -ms-linear-gradient(top, transparent 0%, white 100%); }

#verify-guest-container .btn {
  min-width: 100px; }

#verify-guest-container hr {
  position: absolute;
  width: 100%;
  margin: auto 0;
  top: 0;
  bottom: 0; }

#result-info td {
  font-weight: bold;
  width: 50%;
  padding: 1rem 1rem 1rem 0;
  border-top: 0;
  border-bottom: 1px solid #dee2e6; }

#result-info td:nth-child(2) {
  color: #0066B8; }

#qr-text-layer,
#qr-code-layer {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%; }

#qr-text-layer {
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  color: #fff; }
  #qr-text-layer .text-large {
    text-align: right;
    color: rgba(255, 255, 255, 0.5); }
    #qr-text-layer .text-large #reservation-number {
      color: #fff; }
  #qr-text-layer > *:last-child {
    font-size: 10px;
    width: 59.666%; }

#qr-code-layer {
  align-items: center;
  justify-content: center; }
  #qr-code-layer > #qr-bg {
    width: 24%;
    background-color: #fff;
    padding: 20px;
    border-radius: 25px; }

i.icon {
  width: 24px;
  height: 24px;
  background-position: center center;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
  background-size: contain;
  flex-shrink: 0; }
  i.icon.exclamation {
    background-image: url(../img/alert.png); }
  i.icon.question {
    background-image: url(../img/question.png); }
  i.icon.trash {
    background-image: url(../img/trash.png); }
  i.icon.nav-arrow-left {
    background-image: url(../img/navArrowLeft.png); }
  i.icon.nav-arrow-right {
    background-image: url(../img/navArrowRight.png); }

#alert-message p {
  display: flex;
  align-items: start;
  color: #FF585D; }

#alert-message i.icon {
  width: 32px;
  height: 32px;
  margin-right: 16px; }

#mobile-artworks-layer,
#artworks-layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: -1; }

#artworks-layer > img {
  position: absolute; }

#artworks-layer > img:first-child {
  transform: rotateZ(-29deg);
  width: 18.646vw;
  right: 6.51vw;
  top: -30.781vw; }

#artworks-layer > img:nth-child(2) {
  width: 21.875vw;
  top: 50%;
  right: 43.906vw; }

#artworks-layer > img:nth-child(3) {
  width: 15.625vw;
  top: 70%;
  right: -8.49vw; }

#form-step2 #artworks-layer > img:nth-child(2) {
  top: 860px; }

#form-step2 #artworks-layer > img:nth-child(3) {
  top: 1990px; }

#tnc li:not(:last-child) {
  margin-bottom: 1rem; }

.modal-dialog {
  max-width: 53.125vw; }
  .modal-dialog .modal-content {
    border-radius: 30px;
    border: 4px solid #0066B8;
    height: 47.872vh; }
    .modal-dialog .modal-content[body=confirm-cancel-body] #canceled-body {
      display: none; }
    .modal-dialog .modal-content[body=canceled-body] #confirm-cancel-body {
      display: none; }
    .modal-dialog .modal-content .modal-body {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly; }
      .modal-dialog .modal-content .modal-body h3 {
        font-size: 2.917vw;
        font-weight: 900; }
      .modal-dialog .modal-content .modal-body .btn:first-child {
        margin-right: 40px; }
      .modal-dialog .modal-content .modal-body .modal-close {
        position: absolute;
        top: 9%;
        right: 7%;
        width: 9.804%;
        display: block; }

main[mode=new] #form-step2 .form-title > span:last-child {
  display: none; }

main[mode=modify] .mobile-steps,
main[mode=modify] #steps-list {
  display: none; }

main[mode=modify] #form-step2 .form-title > span:first-child {
  display: none; }

main[mode=modify] #form-step2 a[href="#form-step1"] {
  display: none;
  pointer-events: none; }

.block-space {
  margin-bottom: 30px !important; }

.font-weight-black {
  font-weight: 900; }

.text-blue {
  color: #0066B8 !important; }

.text-cyan {
  color: #0489B6 !important; }

.text-red {
  color: #FF585D !important; }

.text-light-gray {
  color: #CBCBCE !important; }

.text-orange {
  color: #FF840A !important; }

.text-dark {
  color: #253B56 !important; }

@media (min-width: 768px) {
  #footer p {
    font-size: 16px; }
  #qr-pcard {
    display: none; }
  #result-info td,
  .text-large {
    font-size: 18px; }
  #datepicker .datepicker-inline .datepicker-switch {
    font-size: 22px; } }

@media (max-width: 767px) {
  .modal-dialog {
    max-width: inherit; }
    .modal-dialog .modal-content {
      height: 67.872vh; }
      .modal-dialog .modal-content .modal-body h3 {
        font-size: 30px; }
  .btn {
    font-size: 10px; }
  #qr-text-layer > *:last-child {
    font-size: inherit;
    width: 100%; }
  #qr-code-layer > #qr-bg {
    width: 43.75%; }
  #qr-hcard {
    display: none; }
  #ticket-type-container {
    margin-right: -20px; }
    #ticket-type-container .btn-group {
      min-width: 502px; }
  #time-slots-container .time-slots .col {
    flex-basis: 25%;
    max-width: 25%; }
  #datepicker .datepicker-inline .datepicker-days table th.dow, #datepicker .datepicker-inline .datepicker-days table td {
    padding-top: 10px;
    padding-bottom: 10px; }
  #datepicker .datepicker-inline .datepicker-days table td.day.active:before, #datepicker .datepicker-inline .datepicker-days table td.day:hover:before {
    width: 40px;
    height: 40px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .modal-dialog {
    max-width: 77.125vw; }
    .modal-dialog .modal-content {
      height: 63.872vh; } }

@media (max-width: 991px) {
  #form {
    width: 100%; }
    #form .form-layer > .lang-switch {
      display: none; }
    #form .form-layer .form-step {
      padding-top: 0;
      padding-left: 20px;
      padding-right: 20px; }
  #artworks-layer {
    top: -160px; }
    #artworks-layer img:first-child {
      width: 22.133vw;
      transform: rotateZ(-51deg);
      right: 4.533vw;
      top: -8.267vw; }
    #artworks-layer img:nth-child(2) {
      width: 53.333vw;
      right: 80.8vw;
      transform: rotateY(-180deg); }
    #artworks-layer img:nth-child(3) {
      width: 40.053vw;
      right: -19.467vw; } }

@media (max-width: 1199px) {
  #steps-list {
    margin-left: 50px; }
  .section-title {
    font-size: 18px; }
  #form .form-layer .form-step, #footer {
    padding-left: 20px;
    padding-right: 20px; }
  #form .form-layer .form-step > h1 {
    font-size: 37px; } }

@media (max-width: 1439px) {
  .btn {
    padding: 0 22px;
    height: 58px;
    max-height: 58px; }
    .btn .icon {
      margin-left: 22px; }
  form .input-label {
    padding-left: 26px; }
  form input.form-control {
    padding-left: 26px;
    padding-right: 26px;
    max-height: 58px;
    font-size: 14px; }
  .btn-group .btn {
    max-height: calc(58px - 8px); }
  #range-container {
    height: 58px;
    max-height: 58px; }
    #range-container #range-fill[value="2"] {
      width: calc((((100% - 58px) / 3) * (2 - 1)) + 58px - (58px / 2)); }
    #range-container #range-fill[value="3"] {
      width: calc((((100% - 58px) / 3) * (3 - 1)) + 58px - (58px / 2)); }
    #range-container #range-fill[value="4"] {
      width: calc((((100% - 58px) / 3) * (4 - 1)) + 58px - (58px / 2)); }
    #range-container input[type='range']::-webkit-slider-runnable-track {
      height: 58px;
      max-height: 58px; }
    #range-container input[type='range']::-webkit-slider-thumb {
      height: 60px;
      width: 60px;
      max-height: 58px;
      max-width: 58px; }
    #range-container > .list-unstyled li:first-child,
    #range-container ~ .list-unstyled li:first-child {
      margin-left: calc((58px / 2) - 3px); }
    #range-container > .list-unstyled li:nth-child(n+2),
    #range-container ~ .list-unstyled li:nth-child(n+2) {
      margin-left: calc(((100% - 58px) / 3) - 10px); }
    #range-container .custom-range::-ms-thumb {
      height: 60px;
      width: 60px; } }

/*# sourceMappingURL=style.map */